<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse" style="background-color:#DA4040;">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 style="color: white;">Ingram</h1>

            </div>
            <a class="navbar-brand" href="{% url 'register' %}" style=" text-decoration: none;">Sign In</a>
        </div>
    </nav>
</body>

</html>