<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            margin: 0;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 25%;
        }
        
        li a {
            display: block;
            background-color: transparent;
            height: 5vh;
            margin-left: 40px;
            margin-top: 40px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">Explore</a></li>
        <li><a href="#contact">Make a Post</a></li>
        <li><a href="#about">Profile</a></li>
    </ul>
</body>

</html>